header {
  background: gray;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

button {
  padding: 5px;
  border: none;
  background-color: aqua;
}
